#wpadminbar #wp-admin-bar-wbfp_create_branch > .ab-item::before {
	content: url(adminbar.svg);
}

@media screen and (max-width: 782px){
	#wpadminbar li#wp-admin-bar-wbfp_create_branch{
		display: block;
	}

	#wpadminbar li#wp-admin-bar-wbfp_create_branch > .ab-item {
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
		width: 52px;
		padding: 0;
		color: #999;
		position: relative;
	}

	#wpadminbar li#wp-admin-bar-wbfp_create_branch > .ab-item::before {
		display: block;
		text-indent: 0;
		font: 400 32px/1 dashicons;
		speak: none;
		top: 7px;
		width: 52px;
		text-align: center;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}
