#wpadminbar #wp-admin-bar-wbfp-create-branch > .ab-item::before {
	content: url(../image/adminbar-20x20.svg);
	top: 3px;
}

.wbfp-classic-action p {
	margin-bottom: 0;
}

@media screen and (max-width: 782px) {

	#wpadminbar li#wp-admin-bar-wbfp-create-branch {
		display: block;
	}

	#wpadminbar li#wp-admin-bar-wbfp-create-branch > .ab-item {
		position: relative;
		width: 52px;
		padding: 0;
		overflow: hidden;
		color: #a7aaad;
		text-indent: 100%;
		white-space: nowrap;
	}

	#wpadminbar li#wp-admin-bar-wbfp-create-branch > .ab-item::before {
		display: block;
		top: 7px;
		width: 52px;
		content: url(../image/adminbar-32x32.svg);
		text-align: center;
		text-indent: 0;
	}
}
